body {
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://w0.peakpx.com/wallpaper/1011/683/HD-wallpaper-question-mark-green-quebonafide.jpg);
  }
  
  .contenedor {
    background-color:rgb(3, 184, 3);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .grupo-input {
    text-align: center;
  }
  
  .campo-input {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 5px;
    border: 1px solid #666;
    border-radius: 5px;
  }
  
  button {
    background-color:  rgb(96, 1, 96);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #resultado {
    margin-top: 20px;
    font-size: 18px;
  }